.sidebar-item {
    margin: 10px;
}


/* Adjust height of the cell output in user notebooks*/
.cell-output {
  max-height: 650px;
  overflow-y: auto; 
  overflow-x: auto; 
  background-color:#fefdfe;
}


/* .sidebar-item-text::before {
    content: '>'
} */

.content {
    padding: 0 48px 0 12px;
}

/* Styling updates for the new portal below */

/* color when hovering over contents in the sidebar */
a:hover {
  color: #3E4DED;
}

/* color of selected sidebar item */
div.sidebar-item-container {
  .active,
  .show > .nav-link,
  .sidebar-link > code {
    color: #3E4DED;
  }
}

/* sidebar text color */
.sidebar-navigation a {
  color: #3D4551;
  &:hover,
  &:focus {
    color: #3E4DED;
  }
} 

/* toc hover color */
.sidebar.margin-sidebar .nav-link:hover {
    color: #3E4DED !important; 
}

/* toc active link color */
.sidebar.margin-sidebar .nav-link.active {
    color: #3E4DED !important; 
}

/* inline code formatting */
p code,
li code,
td code,
blockquote code {
  color: #3D4551;
  background-color: #FCFAF8 !important;
}

/* package import text color */
.sourceCode .im {
    color: #3E4DED;
}