.sidebar-item {
    margin: 10px;
}


/* Adjust height of the cell output in user notebooks*/
.cell-output {
  max-height: 500px;
  overflow-y: auto; 
  overflow-x: auto; 
  background-color:#fefdfe;
}
 




/* .sidebar-item-text::before {
    content: '>'
} */

.content {
    padding: 0 48px 0 12px;
}
